[submodule "third_party/caliptra-rtl"]
	path = third_party/caliptra-rtl
	url = https://github.com/chipsalliance/caliptra-rtl.git
	branch = main
[submodule "third_party/i3c-core"]
	path = third_party/i3c-core
	url = https://github.com/chipsalliance/i3c-core.git
	branch = v1p4-patches
[submodule "third_party/cocotbext-i3c"]
	path = third_party/cocotbext-i3c
	url = https://github.com/antmicro/cocotbext-i3c.git
	branch = main
