provides: [caliptra_ss_top]
schema_version: 2.4.0
requires:
  - caliptra_ss_lc_ctrl_pkg
  - lc_ctrl
  - mcu_top
  - css_mcu0_veer_el2_rtl_pkg
  - i3c-core
  - tlul_pkg
  - fuse_ctrl_pkg
  - fuse_ctrl
  - caliptra_top_tb_pkg
  - avery_vip
targets:
  tb:
    directories:
      - $COMPILE_ROOT/vip
      - $AVERY_HOME/axixactor-2.1e.230314//src.axi.VCS
      - $AVERY_HOME/axixactor-2.1e.230314//src.axi
      - $AVERY_HOME/axixactor-2.1e.230314//checker/BP063-BU-01000-r0p1-00rel0/sva
      - $AVERY_HOME/axixactor-2.1e.230314//testbench
      - $COMPILE_ROOT/testbench
    files:
      # - $COMPILE_ROOT/../../../../chipsalliance/caliptra-rtl/src/axi/rtl/caliptra_axi_sram.sv
      - $COMPILE_ROOT/testbench/tb_top_pkg.sv
      - $COMPILE_ROOT/testbench/axi_slv.sv
      # - $COMPILE_ROOT/testbench/dasm.svi
      - $COMPILE_ROOT/testbench/aaxi_pkg_caliptra_test.sv
      - $COMPILE_ROOT/testbench/aaxi4_interconnect.sv
      - $COMPILE_ROOT/testbench/fuse_ctrl_bfm.sv
      - $COMPILE_ROOT/testbench/lc_ctrl_bfm.sv
      - $COMPILE_ROOT/testbench/caliptra_ss_top.sv
    tops: 
      - caliptra_ss_top
      - ai3c_tests_bench
  sim:
    pre_exec: '$MSFT_SCRIPTS_DIR/run_test_makefile && echo "[PRE-EXEC] Copying ECC vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/ecc/tb/ecc_secp384r1.exe . 
                && echo "[PRE-EXEC] Copying DOE vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/doe/tb/doe_test_gen.py .
                && echo "[PRE-EXEC] Copying SHA256 wntz vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/sha256/tb/sha256_wntz_test_gen.py .
                && echo "[PRE-EXEC] Copying MLDSA vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/submodules/adams-bridge/src/mldsa_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && echo "[PRE-EXEC] Copying MLDSA debug vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/submodules/adams-bridge/src/mldsa_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5_debug .
                && echo "[PRE-EXEC] Copying mldsa directed vector to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/mldsa/tb/smoke_test_mldsa_vector.hex .'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - '-sverilog -full64'
        - '-debug_access+all'
        # Used in caliptra_top_sva to find signals
        - +define+CPTRA_TB_TOP_NAME=caliptra_ss_top
        - +define+CPTRA_TOP_PATH=caliptra_ss_top.caliptra_top_dut
        - +define+MCU_RV_BUILD_AXI4
        - +define+MCU_RV_OPENSOURCE
        - +define+CALIPTRA_INTERNAL_UART
        - '-noinherit_timescale=1ns/1ps'  
        - +define+AVERY_VCS
        - +define+AVERY_CLOCK=5
        - +define+FOUR_OUTSTANDING
        - +define+AVERY_AXI_INTERCONNECT
        - +define+AAXI_MAX_DATA_WIDTH=64
        - +define+AAXI_MAX_ADDR_WIDTH=64
        - +define+AAXI_MAX_ID_WIDTH=5
        - +define+AAXI_MAX_ARUSER_WIDTH=32
        - +define+AAXI_MAX_AWUSER_WIDTH=32
        - +define+AAXI_INTC_MASTER_CNT=5
        - +define+AAXI_INTC_SLAVE_CNT=8
        - +define+AI3C_LANE_NUM=1
        - +define+DIGITAL_IO_I3C=1
        # - +define+AI3C_SKIP_DAA=1
        - +define+AVERY_SV_TEST_CASE=1
        # - '+define+AI3C_TEST_CASE=/cad/tools/mentor/avery/2024.3/i3cxactor/testsuite.i3c/examples/ai3ct_basic.sv'
        - +define+AI3C_TEST_CASE=/home/ws/caliptra/pateln/caliptra_ws_250110/chipsalliance/caliptra-ss/src/integration/test_suites/ai3ct_ext_basic.sv
        - '$AVERY_PLI/lib.linux/libtb_vcs64.a'
        - '-P $AVERY_PLI/tb_vcs64.tab'
      elab:
        #FIXME implicit-wire-no-fanin and port-connection-width-mismatch warnings from i3c-core
        - '+warn=noIWNF'
        - '+warn=noPCWM-W'
        #FIXME unique case violations in i3c-core
        - '-ignore unique_checks'
        - '/cad/tools/mentor/avery/2.5c/avery_pli-2023_0609/lib.linux/libtb_vcs64.a'
        - '-P /cad/tools/mentor/avery/2.5c/avery_pli-2023_0609/tb_vcs64.tab'
      sim:
        - '+vpi -lpthread'
        # Uncomment for debug prints
        #- +aaxi_dbg_name=all
        # - '+ai3c_dbg_name=master'
        # Select AVERY I3C test case
        # - '+AVY_TEST=ai3ct_basic'
        - +AVY_TEST=ai3ct_ext_basic
        # - +UVM_TESTNAME=ai3ct_basic
