---
provides: [avery_vip]
schema_version: 2.4.0
targets:
  tb:
    directories:
      - $COMPILE_ROOT/vip
      #-- General
      - $AVERY_SIM
      - $AVERY_SIM/src
      - $AVERY_SIM/src.IEEE
      - $AVERY_PLI
      #-- AXI Interconnect
      - $AVERY_AXI/src.axi.VCS
      - $AVERY_AXI/src.axi
      - $MSFT_REPO_ROOT/src/libs/arm_licensed/BP063-BU-01000-r0p1-00rel0/sva
      - $AVERY_AXI/testbench
      #-- I3C VIP
      - $AVERY_I3C/
      - $AVERY_I3C/src
      - $AVERY_I3C/src.i3c
      - $AVERY_I3C/src.VCS
      - $AVERY_I3C/src.i3c
      - $AVERY_I3C/testsuite.i3c/examples
      - $AVERY_I3C/testsuite.i3c/examples.uvm
      - $AVERY_I3C/testsuite.i3c/dut
      - $AVERY_I3C/testsuite.i3c/dut1_1
      - $AVERY_I3C/testsuite.i3c/dut_slave
      - $AVERY_I3C/testsuite.i3c/dut_master
      - $AVERY_I3C/testsuite.i3c/dut_master_stby
      - $AVERY_I3C/testbench
    files:
      #-- General
      - $MSFT_REPO_ROOT/src/libs/arm_licensed/BP063-BU-01000-r0p1-00rel0/sva/Axi4PC.sv
      - $AVERY_SIM/src/avery_pkg.sv
      - $AVERY_SIM/src/avery_pkg_test.sv
      #-- AXI Interconnect
      - $AVERY_AXI/src.axi/aaxi_pkg.sv
      - $AVERY_AXI/src.axi/aaxi_pkg_xactor.sv
      - $AVERY_AXI/src.axi/aaxi_class_pll.sv
      - $AVERY_AXI/src.axi/aaxi_pkg_test.sv
      - $AVERY_AXI/src.axi/aaxi_intf.sv
      #-- I3C VIP
      - $AVERY_I3C/src/ai2c_pkg.sv
      - $AVERY_I3C/src.i3c/ai3c_pkg.sv
      - $AVERY_I3C/src/ai2c_intf.sv
      - $AVERY_I3C/src.i3c/ai3c_intf.sv
    tops:
      #-- NOTE: include this in the top level testbench
      - ai3c_tests_bench
---
provides: [caliptra_ss_top_defines]
schema_version: 2.4.0
targets:
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/testbench/caliptra_ss_top_tb_path_defines.svh
      - $COMPILE_ROOT/rtl/soc_address_map_defines.svh
      - $COMPILE_ROOT/rtl/caliptra_ss_includes.svh
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/testbench/caliptra_ss_top_tb_path_defines.svh
      - $COMPILE_ROOT/rtl/soc_address_map_defines.svh
      - $COMPILE_ROOT/rtl/caliptra_ss_includes.svh
---
provides: [caliptra_ss_top]
schema_version: 2.4.0
requires:
  - caliptra_ss_top_defines
  - caliptra_ss_lc_ctrl_pkg
  - css_mcu0_veer_el2_rtl_pkg
  - tlul_pkg
  - fuse_ctrl_pkg
  - lc_ctrl
  - axi_mem_pkg
  - mcu_top
  - i3c_core
  - fuse_ctrl
  - mci_top
  - caliptra_top
targets:
  rtl_lint:
    waiver_files:
      - $MSFT_REPO_ROOT/src/integration/config/design_lint/sglint_waivers
  rtl:
    directories: 
      - $COMPILE_ROOT/rtl
    files:
      - $COMPILE_ROOT/rtl/caliptra_ss_top.sv
    tops: [caliptra_ss_top]
---
provides: [caliptra_ss_top_w_stub]
schema_version: 2.4.0
requires: [caliptra_ss_top]
targets:
  rtl:
    files:
      - $COMPILE_ROOT/rtl/caliptra_ss_top_w_stub.sv
    tops: [caliptra_ss_top_w_stub]
--- 
provides: [caliptra_ss_top_tb]
schema_version: 2.4.0
requires:
  - ss_asserts
  - caliptra_ss_lc_ctrl_pkg
  - caliptra_ss_top_defines
  - axi_mem_pkg
  - caliptra_ss_top
  - lc_ctrl
  - ast_pkg
  - fuse_ctrl_pkg
  - caliptra_top_tb_pkg
  - avery_vip
  - mci_coverage
  - lc_ctrl_coverage
targets:
  tb:
    directories:
      - $COMPILE_ROOT/vip
      - $COMPILE_ROOT/testbench
      - $COMPILE_ROOT/testbench/sv_tests/ai3c
    files:
      # - $COMPILE_ROOT/../../../../chipsalliance/caliptra-rtl/src/axi/rtl/caliptra_axi_sram.sv
      - $COMPILE_ROOT/testbench/tb_top_pkg.sv
      - $COMPILE_ROOT/testbench/axi_slv.sv
      # - $COMPILE_ROOT/testbench/dasm.svi
      - $COMPILE_ROOT/testbench/mci_sram.sv
      - $COMPILE_ROOT/testbench/caliptra_ss_sram.sv
      - $COMPILE_ROOT/testbench/aaxi_pkg_caliptra_test.sv
      - $COMPILE_ROOT/testbench/aaxi4_interconnect.sv
      - $COMPILE_ROOT/testbench/fuse_ctrl_bfm.sv
      - $COMPILE_ROOT/testbench/prim_generic_otp.sv
      - $COMPILE_ROOT/testbench/lc_ctrl_bfm.sv
      - $COMPILE_ROOT/testbench/caliptra_ss_tb_cmd_list.svh
      - $COMPILE_ROOT/testbench/caliptra_ss_veer_sram_export.sv
      - $COMPILE_ROOT/testbench/fc_lcc_tb_services.sv
      - $COMPILE_ROOT/testbench/caliptra_ss_top_tb_services.sv
      - $COMPILE_ROOT/testbench/caliptra_ss_top_tb.sv
    tops: [caliptra_ss_top_tb, ai3c_tests_bench]
  sim:
    pre_exec: 'echo "[PRE-EXEC] Copying ECC vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/ecc/tb/ecc_secp384r1.exe . 
                && echo "[PRE-EXEC] Copying DOE vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/doe/tb/doe_test_gen.py .
                && echo "[PRE-EXEC] Copying SHA256 wntz vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/sha256/tb/sha256_wntz_test_gen.py .
                && echo "[PRE-EXEC] Copying MLDSA vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/submodules/adams-bridge/src/mldsa_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && echo "[PRE-EXEC] Copying MLDSA debug vector generator to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/submodules/adams-bridge/src/mldsa_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5_debug .
                && echo "[PRE-EXEC] Copying mldsa directed vector to ${pwd}" && cp $COMPILE_ROOT/../../third_party/caliptra-rtl/src/mldsa/tb/smoke_test_mldsa_vector.hex .
                && echo "[PRE-EXEC] Copying otp-img.2048.vmem to ${pwd}" && cp $COMPILE_ROOT/../../src/fuse_ctrl/data/otp-img.2048.vmem .'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - '-sverilog -full64'
        - '-debug_access+all'
        - +define+CLP_ASSERT_ON
        # Used in caliptra_top_sva to find signals
        - +define+CPTRA_TB_TOP_NAME=caliptra_ss_top_tb
        - +define+CPTRA_TOP_PATH=caliptra_ss_top_tb.caliptra_ss_dut.caliptra_top_dut
        - +define+CALIPTRA_MODE_SUBSYSTEM
        - +define+MCU_RV_BUILD_AXI4
        - +define+MCU_RV_OPENSOURCE
        - +define+AVERY_VCS
        - +define+AVERY_CLOCK=5
        - +define+FOUR_OUTSTANDING
        - +define+AVERY_AXI_INTERCONNECT
        - +define+AAXI_MAX_DATA_WIDTH=64
        - +define+AAXI_MAX_ADDR_WIDTH=64
        - +define+AAXI_MAX_ID_WIDTH=5
        - +define+AAXI_MAX_ARUSER_WIDTH=32
        - +define+AAXI_MAX_AWUSER_WIDTH=32
        - +define+CALIPTRA_INTERNAL_UART
        - '-noinherit_timescale=1ns/1ps'
        - +define+AAXI_INTC_MASTER_CNT=5
        - +define+AAXI_INTC_SLAVE_CNT=8
        - +define+AI3C_LANE_NUM=1
        - +define+DIGITAL_IO_I3C=1
        # - +define+AI3C_SKIP_DAA=1
        - +define+AVERY_SV_TEST_CASE=1
        - +define+AI3C_TEST_CASE=$COMPILE_ROOT/testbench/sv_tests/ai3c/ai3c_test_includes.svh
        - '$AVERY_PLI/lib.linux/libtb_vcs64.a'
        - '-P $AVERY_PLI/tb_vcs64.tab'
        #FIXME : remve this Note suppression
        - '-suppress=SV-LCM-PPWI'
      elab:
        #FIXME : remve this warning suppression
        #FIXME implicit-wire-no-fanin and port-connection-width-mismatch warnings from i3c_core
        - '+warn=noIWNF'
        - '+warn=noPCWM-W'
        - '+warn=noTFIPC,noMDVMO'
        - '$AVERY_PLI/lib.linux/libtb_vcs64.a'
        - '-P $AVERY_PLI/tb_vcs64.tab'
        #FIXME unique case violations in i3c_core
        - '-ignore unique_checks'
      sim:
        # Uncomment for I3C debug prints
        #- +aaxi_dbg_name=all
        #- '+ai3c_dbg_name=master'
        - '+vpi -lpthread'
        - '+CLP_BUS_LOGS=1'
        # Command line arg to spcify the I3C test 
        # - +AVY_TEST=ai3ct_ext_basic
        # Command line arg to spcify the I3C test Runtime
        # this is useful for production ROM test
        # - '+i3c_run_time=500us'
