---
provides: [prim_generic_otp_pkg]
schema_version: 2.4.0
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/prim_generic_otp_pkg.sv
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/prim_generic_otp_pkg.sv
---
provides: [fuse_ctrl_pkg]
schema_version: 2.4.0
requires:
  - caliptra_prim
  - lc_ctrl_pkg
  - ast_pkg
  - prim_generic_otp_pkg
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files: 
      - $COMPILE_ROOT/rtl/otp_ctrl_reg_pkg.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_pkg.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_part_pkg.sv
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files: 
      - $COMPILE_ROOT/rtl/otp_ctrl_reg_pkg.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_pkg.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_part_pkg.sv
---
provides: [fuse_ctrl]
schema_version: 2.4.0
requires:
  - axi2tlul 
  - tlul
  - ast_pkg
  - caliptra_prim
  - caliptra_prim_generic
  - edn_pkg
  - pwrmgr_pkg
  - fuse_ctrl_pkg
  - ss_libs
targets:
  rtl:
    directories:
      - $COMPILE_ROOT/rtl
      - $COMPILE_ROOT/coverage
    files:
      - $COMPILE_ROOT/rtl/otp_ctrl_core_reg_top.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_prim_reg_top.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_dai.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_ecc_reg.sv
      - $COMPILE_ROOT/rtl/fuse_ctrl_filter.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_lci.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_lfsr_timer.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_part_buf.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_part_unbuf.sv
      - $COMPILE_ROOT/rtl/otp_ctrl_scrmbl.sv
      # - $COMPILE_ROOT/rtl/prim_generic_otp.sv
      - $COMPILE_ROOT/rtl/otp_ctrl.sv
      #- $COMPILE_ROOT/rtl/otp_ctrl_top.sv
    tops: [otp_ctrl]
---
provides: [fuse_ctrl_coverage]
schema_version: 2.4.0
requires:
  - axi2tlul 
  - fuse_ctrl_pkg
  - lc_ctrl_pkg
targets:
  tb:
    directories: 
      - $COMPILE_ROOT/coverage
    files:
      - $COMPILE_ROOT/coverage/fuse_ctrl_cov_if.sv
      - $COMPILE_ROOT/coverage/fuse_ctrl_cov_bind.sv
