# docs: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Register Documentation

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]

jobs:
  build:
    name: Build

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Install peakrdl
        run: |
          python3 -m pip install \
              systemrdl-compiler==1.27.3 \
              peakrdl-systemrdl==0.3.0 \
              peakrdl-regblock==0.21.0 \
              peakrdl-uvm==2.3.0 \
              peakrdl-ipxact==3.4.3 \
              peakrdl-html==2.10.1 \
              peakrdl-cheader==1.0.0 \
              peakrdl==1.1.0

      - name: Generate docs
        run: |
          export CALIPTRA_SS_ROOT=$GITHUB_WORKSPACE
          echo Running script
          tools/scripts/gen_soc_regs.sh

      - name: Stage documents
        run: |
          mkdir -p /tmp/pages-docs/main
          cp -R src/integration/docs/soc_address_map_html /tmp/pages-docs/main/regs
          find /tmp/pages-docs

      - name: Upload artifacts for main
        uses: actions/upload-artifact@v4
        with:
          name: pages_main
          path: /tmp/pages-docs/main

  build-2.0:
    name: Build v2.0

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'recursive'
          # This is the Gen2.0 v1.0 release patch branch...
          ref: "patch_ss_v1p0"

      - name: Install peakrdl
        run: |
          python3 -m pip install \
              systemrdl-compiler==1.27.3 \
              peakrdl-systemrdl==0.3.0 \
              peakrdl-regblock==0.21.0 \
              peakrdl-uvm==2.3.0 \
              peakrdl-ipxact==3.4.3 \
              peakrdl-html==2.10.1 \
              peakrdl-cheader==1.0.0 \
              peakrdl==1.1.0

      - name: Generate docs
        run: |
          export CALIPTRA_SS_ROOT=$GITHUB_WORKSPACE
          echo Running script
          tools/scripts/gen_soc_regs.sh

      - name: Stage documents
        run: |
          mkdir -p /tmp/pages-docs/v2_0
          cp -R src/integration/docs/soc_address_map_html /tmp/pages-docs/v2_0/regs
          find /tmp/pages-docs

      - name: Upload artifacts for main
        uses: actions/upload-artifact@v4
        with:
          name: pages_v2_0
          path: /tmp/pages-docs/v2_0

  deploy:
    name: Deploy
    needs: build
    if: github.event_name == 'push'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-22.04

    steps:
      - name: Download main artifacts
        uses: actions/download-artifact@v4
        with:
          name: pages_main
          path: /tmp/pages-docs/main

      - name: Download v2.0 artifacts
        uses: actions/download-artifact@v4
        with:
          name: pages_v2_0
          path: /tmp/pages-docs/v2_0

      - name: Generate GitHub Pages artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: /tmp/pages-docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
